/*Inicio de los estilos
COLORES BASE:
#3C3C3B gris
#FAA819 naranja*/


/*barra de redes sociales*/
header{
	margin-left: 0px;
	padding-left: 0px;
}
.social{
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 2000;

}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	background: #FAA819;
	padding: 10px 15px;
	border-radius: 0px 20px 20px 0px;
	border: 1px solid #3c3c3b;
	opacity: .8;
}

.social ul li a:hover{
	padding: 10px 20px 10px 50px;
}


/*Cuerpo*/
body{
	background-color: #e5e4dc;
}


/*Elementos del logo*/
.logo{
	width: 90%;
	height:20%;
	display: block;
	margin: 30px auto;
}


/*Elementos del menu*/
#menu{
	margin: 0px auto;
	width: 100%;
	height: 125px;
	position: fixed;
	z-index: 2000;

}


div.contenedor{
	width: 122%;
	height: 140px;
	float: left;
	-webkit-transition: .5s;
	border-radius: 0px 0px 10px 10px;
}


div#cero{
	background-color: rgba(223, 144, 46, 0.9);

}

div#uno{
	background-color: rgba(229, 174, 46, 0.9);

}

div#dos{
	background-color: rgba(223, 144, 46, 0.9);
}

div#tres{
	background-color: rgba(229, 174, 46, 0.9);
}

div#cuatro{
	background-color: rgba(223, 144, 46, 0.9);
}

div#cinco{
	background-color: rgba(229, 174, 46, 0.9);
}


img.icon{
	display: block;
	margin: 20px auto;
	background-color: rgba(255, 255, 255, .15);
	width: 50px;
	padding: 5px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0); 
	-webkit-transition: .4s;
}

p.texto{
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 10px;
	opacity: .6;
	font-family: tahoma;
	-webkit-transition: .4s;
}

div.contenedor:hover{
	height: 155px;
	cursor: pointer;
}

div.contenedor:hover p.texto{
	padding: 20px;
	opacity: 1;

}

div.contenedor:hover img.icon{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}




span{
	font-size: 13px;
	color: gray;
}

p{
	font-size: 13px;
	text-align: justify;
	color: #3C3C3B;
}

#boton:hover{
	cursor: pointer;
	color: #FAA819;
}

.noticias{
	margin-top: 30px;
	position: relative;
	margin-left: 7%;
}

.noti{
	width: 80%;
	height: 450px;
	border: 4px solid #FAA819;


	
	border-radius: 20px;

	
	background-size: 100% 100%;
	background-repeat: no-repeat;

	animation: notice 10s infinite;
}


/*Paradas de la animación*/
@keyframes notice{
	0%, 30%{
		background-image: url("../img/noti1.jpg");
	}

	35%, 65%{
		background-image: url("../img/noti2.jpg");
	}
	
	70%, 100%{
		background-image: url("../img/noti3.jpg");
	}
}





.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 80%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 10px rgba(250,168,25,0.6),
		0 1px 2px rgba(250,168,25,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/*coders images*/

.ch-img-1 { 
	background-image: url(../img/vale.jpg);
}

.ch-img-2 { 
	background-image: url(../img/cris.jpg);
}

.ch-img-3 { 
	background-image: url(../img/miriam.jpg);
}


.ch-img-4 { 
	background-image: url(../ivette1.jpg);
}
.ch-img-5 { 
	background-image: url(../ivette1.jpg);
}
.ch-img-6 { 
	background-image: url(../ivette1.jpg);
}
.ch-img-7 { 
	background-image: url(../ivette1.jpg);
}

.ch-img-8 { 
	background-image: url(../ivette1.jpg);
}

.ch-img-9 { 
	background-image: url(../ivette1.jpg);
}

.ch-img-10 { 
	background-image: url(../ivette1.jpg);
}

.ch-img-11 { 
	background-image: url(../ivette1.jpg);
}

.ch-img-12 { 
	background-image: url(../ivette1.jpg);
}

.ch-img-13 { 
	background-image: url(../ivette1.jpg);

}

.ch-img-14 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-15 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-16 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-17 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-18 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-19 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-20 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-21 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-22 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-23 { 
	background-image: url(../ivette1.jpg);

}
.ch-img-24 { 
	background-image: url(../ivette1.jpg);

}
/*background profile funny face*/
.ch-infoimg1 {
	
	background-image: url(../img/valefunny.jpg);
	

}

.ch-infoimg2 {
	
	background-image: url(../img/crisfunny.jpg);
	

}

.ch-infoimg3 {
	
	background-image: url(../img/miriamfunny.jpg);
	

}

.ch-infoimg4 {
	
	background-image: url(../img/miriamfunny.jpg);
	

}

.ch-infoimg5 {
	
	background-image: url(../img/miriamfunny.jpg);
	

}

.ch-infoimg6 {
	
	background-image: url(../img/crisfunny.jpg);
	

}

.ch-infoimg7 {
	
	background-image: url(../img/crisfunny.jpg);
	

}

.ch-infoimg8 {
	
	background-image: url(../img/miriamfunny.jpg);
	

}

.ch-infoimg9 {
	
	background-image: url(../img/miriamfunny.jpg);
	

}

.ch-infoimg10 {
	
	background-image: url(../img/miriamfunny.jpg);
	

}



.ch-info {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: black;
	letter-spacing: 2px;
	font-size: 35px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family:' NeueHaasBold',Helvetica,sans-serif;
  font-weight: 800;
	
}

.ch-info p {
	color: black;
	padding: 5px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 15px;
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(194,125,4,0.7);
	font-style: normal;
	
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 5px;

  font-family:' NeueHaasBold',Helvetica,sans-serif;
  font-weight: 400;
	}

.ch-info p a:hover {
	color: #d5c800;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 250px;
	height: 200px;
	display: inline-block;
	margin: 20px;
}

/*style staff fundadores y docentes perfil*/

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


.profilestaffbox {
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
}

h1 {
  font-family:' NeueHaasBold',Helvetica,sans-serif;
  font-weight:300;
  text-align:center;
  color:rgba(255,255,255,0.6);
}

h2 {
  color:#2c3e52;
  font-family:' NeueHaasBold',Helvetica,sans-serif;
  font-size: 14px;
  text-align:center;
  font-weight:700;
  margin-bottom:50px;
  
}

.service-details {
	/*width: 460px;*/
	height: 250px;	
	/*height: 230px;*/
	overflow: hidden;
	position: relative;
}

.service-details img {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: auto;
	height: 100%;
	float: left;
	transition: all 0.8s;
	-moz-transition: all 0.8s;

}

.service-details:hover img {
	/*opacity: 0.4 !important;*/
}

.service-details .service-hover-text h3 {
	padding: 0px;
	margin: 0px;
	font-size: 25px;
  font-weight:300;
	font-family:' NeueHaasBold',Helvetica,sans-serif;
}

.service-details .service-hover-text h4 {
	padding: 0px;
	padding-bottom: 13px;
	margin: 0px;
	font-size: 12px;
  letter-spacing: 3px;
	width: 90%;
	font-family:' NeueHaasBold',Helvetica,sans-serif;
  text-transform:uppercase;
	border-bottom: 2px solid #000;
}

.service-details .service-hover-text p {
	padding-top: 13px;
	font-size: 12px;
	line-height: 20px;
	font-family:' NeueHaasBold',Helvetica,sans-serif;
}


.service-details .service-hover-text{
	width: 42%;
	height: 89%;
	position: absolute;
	top: 0%;
	left: 50%;
	padding: 3% 4%;
	background: #D90E0E;
	color: rgba(255,255,255,1);
/*	display: none;*/
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
	display: block !important;
	color: rgba(255,255,255,1);
	background: rgba(229, 174, 46, 0.85);
	left: 0px;
	top: 0px;
}


.service-details .service-text {
	width: 50%;
	height: inherit;
	background: #000;
	float: left;
	position: absolute;
	left: 50%;
}

.service-details .service-text p {
	padding:100px 0px 0px 20px;
	font-size: 24px;
	font-family:' NeueHaasBold',Helvetica,sans-serif;
  font-weight:700;
	color: #fff;
}

.service-details .service-text p span {
	font-family:' NeueHaasBold',Helvetica,sans-serif !important;
}

.service-details .service-text a , .service-white .service-text {
	padding: 0px 0px 0px 20px;
	font-size: 14px !important;
	color:#FF5A22 !important;
	font-family:' NeueHaasBold',Helvetica,sans-serif !important;
	text-decoration: none !important; 
}

.service-details .service-text {
	float: left;
} 

.service-white {
	background: rgba(223, 144, 46,1) !important;
	width: 50% !important;
	height: inherit !important;
}

.service-white p {
	color: #000 !important;
}




/*font style sections name*/

.uppercase {
  text-transform: uppercase;
}
.bold {
  font-family:' NeueHaasBold',Helvetica,sans-serif !important;
  font-weight: 900;
  font-style: normal;
  color:#3C3C3B;
  font-size: 40px;
}
.text-center {
  text-align: center;
}



/*Banner de patrocinadores*/
 
.slider{
  width:100%;
  height: 300px;
  margin:auto;
  overflow:hidden; 
  margin-bottom: 50px;
	
}


.slider ul{
  padding:0;
  display:flex;
  width:400%;
  animation: cambio 20s infinite alternate;
  animation-timing-function:ease;
}

.slider li{
  width:100%;
  list-style:none;
}

.slider img{
  width:100%;
}

@keyframes cambio {
  0% {margin-left: 0; }     /*Se muestra la 1ª*/
  20% {margin-left: 0; }        /*Tiempo de transición entre 1 y 2*/
  
  25% {margin-left: -100%; } /*Se muestra la 2ª*/
  45% {margin-left: -100%; }     /*Tiempo de transición entre 2 y 3*/
 
  50% {margin-left: -200%; } /*Se muestra la 3ª*/  
  70% {margin-left: -200%; }     /*Tiempo de transición entre 3 y 4*/
 
  75% {margin-left: -300%; } /*Se muestra la 3ª*/  
  100% {margin-left: -300%; }
}
/*footer fijo*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
}



#footer {
  
   left:2px;
   bottom:2px;
   height:200px;
   width:100%;
   background:#999;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/*video*/
.video{
	 width:90%; 
	 height:400px;
	 margin-top:20%;
	 margin-bottom:10%;
	 position: relative;
	 left: 5%;

}

/*DONA boxes*/

.backgroundofert {
	background-color: #E8E8E8;
	min-height: 980px;
}

h2 {
	text-align: center;
	margin-bottom: 25px;
}



.textproperties {
	width: 270px;
	height: 150px;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
	margin-top: 130px;
	margin-left: 20px;
}

h3 {
	color:  #FFFFF0;
	font-size: 16px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

h5 {
	color: #FFFFF0;
	text-align: center;
}

.alin {
	margin-left: 10%;
}

/* Image background */

.img {
	width: 310px;
	height: 400px;
	background-image: url("../img/dance_12.jpg");
	background-size: contain; 
	display: inline-block;
	margin: 20px;
}

.imgofert-1 {
	
	background-image: url("../img/dance_12.jpg");
	
}
.imgofert-2 {
	
	background-image: url("../img/breakdance.jpg");
	
}

.imgofert-3 {
	
	background-image: url("../img/lirical-jazz.jpg");
	
}




/*  button properties */

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}


/* news style*/

.contenedornews{
	display: flex;
	width: 400px;
	height: 200px;
	color: #3C3C3B;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	font-family: tahoma;

	position: relative;
	left: 0;
	right:20%;
	top: 20%;
	bottom: 20%;
	margin: auto;

	overflow: hidden;

}


.news h3{
	color: #FAA819;
}


.news li{
	border: #FAA819 solid 2px;
}

.news img{
	width: 40%;
	height: 40%;
	position: relative;
	left: 2%;
}

.news ul{
	list-style: none;
	padding-left: 10px;

	animation: cambiar 10s infinite;
}

.news ul,p{
	margin: 0px;
}

@keyframes cambiar{
	0%{ margin-top: 0;}
	20%{ margin-top: 0;}
	
	25%{ margin-top: -50px;}
	50%{ margin-top: -50px;}

	55%{ margin-top: -100px;}
	80%{ margin-top: -100px;}

	85%{ margin-top: -50px;}
	95%{ margin-top: -50px;}

	100%{ margin-top: 0;}

}

/*Footer*/
footer{
	margin-top: 80px;
	height: 80px;
	background-color: #3C3C3B; 
}

.textfoot{
	font-family: arial;
	font-size: 15px;
	color: white;
	margin-top: 35px;
}